.header{
  padding: 0 2vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 8.5%;
}

.header img {
  height: 6vh;
}

.header img:last-of-type {
  height: 5vh;
}

.header >p{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  color: #233648;
}

.header >section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header >section:last-child {
  width: 38%;
}

.header >section:first-child {
  width: 14%;
}